@import url('https://fonts.googleapis.com/css?family=Philosopher');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF0F5;
  font-family: 'Philosopher', sans-serif;
  color: #333;
  font-weight: 500;
  min-width: 600px;
  /*Заголовок*/
  /*Содержимое*/
  /*Подвал*/
  /*Left*/
}
body h2 {
  margin-left: 10%;
  color: #929;
}
body .header {
  border-bottom: 2px solid #939;
  height: 200px;
  background-image: url(head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*Логотип*/
  /*Меню*/
}
body .header .logo {
  margin-left: 15%;
  display: inline;
}
body .header .logo img {
  width: 350px;
}
body .header .menu {
  float: right;
  margin-top: 150px;
}
body .header .menu li {
  font-style: italic;
  font-size: 24px;
  font-weight: 600;
  list-style-type: none;
  padding: 2px 5px;
  float: left;
}
body .header .menu li a {
  color: #929;
  text-decoration: none;
}
body .header .menu li a:hover {
  color: #606;
  font-weight: 700;
}
body .container {
  width: 80%;
  margin: 0 auto;
  padding: 2% 2%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: justify;
  /*Каталог*/
  /*Форма обратной связи*/
  /*Страница описания товара*/
}
body .container .page {
  width: 120px;
  outline-width: 1px;
  outline-color: #606;
  outline-style: solid;
  text-align: center;
  color: #606;
  padding: 5px;
  margin-bottom: 10px;
}
body .container .page img {
  width: 120px;
}
body .container .page:hover {
  outline-width: 3px;
  text-shadow: 1px 1px 2px;
}
body .container .page a:link {
  color: inherit;
}
body .container form fieldset input {
  width: 200px;
  font-family: inherit;
  outline: none;
  margin: 3px;
}
body .container form fieldset input[type="text"] {
  font-size: 16px;
  height: 20px;
}
body .container form fieldset input[type="submit"],
body .container form fieldset input[type="reset"] {
  height: 25px;
}
body .container form fieldset .email:focus {
  color: #00C;
  background-color: #FF9;
}
body .container form fieldset .fio {
  text-transform: capitalize;
}
body .container form fieldset textarea {
  height: 200px;
  font-family: inherit;
  font-size: 16px;
}
body .container .short {
  display: flex;
}
body .container .short .image {
  outline-width: 2px;
  outline-color: #606;
  outline-style: solid;
  margin: 20px 10px;
}
body .container .short .image:hover {
  outline: none;
}
body .container .short .m_des {
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}
body .container .des {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  background-color: #eaeaea;
}
body .container .max_des {
  color: #484343;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
body .container .max_des p:first-letter {
  color: #606;
  font-family: serif;
  font-size: 20px;
}
body .container .param {
  list-style-image: url(page/mark.png);
  color: #939;
  font-size: 18px;
}
body .container table,
body .container tr,
body .container td {
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}
body .container table .t_cap,
body .container tr .t_cap,
body .container td .t_cap {
  font-weight: 700;
  font-size: 20px;
}
body .container table input,
body .container tr input,
body .container td input {
  width: 100px;
}
body .container table .row,
body .container tr .row,
body .container td .row {
  border: 1px solid #939;
}
body .container table .buy:hover,
body .container tr .buy:hover,
body .container td .buy:hover {
  cursor: pointer;
}
body .container table .buy:active,
body .container tr .buy:active,
body .container td .buy:active {
  outline: 2px solid #606;
}
body .container table tr:first-of-type {
  font-size: 1.2em;
  font-weight: 600;
  height: 70px;
  background-color: #C9C;
}
body .footer {
  border-top: 2px solid #939;
  background-color: lightgrey;
  height: 100px;
}
body .footer p {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}
body .left {
  display: block;
}
