@import url('https://fonts.googleapis.com/css?family=Philosopher');

*{
    margin:0;
    padding: 0;
}
html, body {
    background-color: #FFF0F5;
    font-family: 'Philosopher', sans-serif;
    height: 100%;
    
   
    .conteiner{ color: #333;
        font-weight: 500;
        min-width: 600px;
        width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 100%;

    
    h2{
        margin-left: 10%;
        color: #929;
    }
    /*Заголовок*/
    .header {
        border-bottom: 2px solid #939;
        height: 200px;
        background-image: url(head.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      
        flex: 0 0 auto;
        /*Логотип*/
        a {
            margin-left: 5%;
            display: block;
            img{
            width: 350px;}
        }
        /*Меню*/
        .menu {
            margin-block-start: 2%;
            float: right;

            

            li{
                font-style: italic;
                font-size: 24px;
                font-weight: 600;
                list-style-type: none;
                padding: 2px 5px;
                float: left;
                
                a{
                    color: #929;
                    text-decoration: none;
                    &:hover{
                        color: #606;
                        font-weight: 700; 
                    }
                }
            }
        }
    }
    /*Содержимое*/
    .content {
        flex: 1 0 auto;
        margin: 0 auto;
        padding: 2% 2%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: justify;

        /*Каталог*/
        .page{
            flex:0 0 auto;

            max-width: 200px;
            outline-width: 1px;
            outline-color: #606;
            outline-style: solid;
            text-align: center;
            color: #606;
            padding: 5px;
            margin: 10px;
            img{
                width: 120px;
            }
            &:hover{
                outline-width: 3px;
                text-shadow: 1px 1px 2px;
            }
            a:link{
                color: inherit;
            }
        }
        /*Форма обратной связи*/
        form{
            fieldset{
                input{
                    width: 200px;
                    font-family: inherit;
                    outline: none;
                    margin: 3px;
                    &[type = "text"]{
                        font-size: 16px;
                        height: 20px;
                    }
                    &[type = "submit"], &[type = "reset"]{
                        height: 25px;
                    }

                }
                .email:focus{
                    color: #00C;
                    background-color: #FF9;
                }
                .fio{
                    text-transform: capitalize;
                }
                textarea{
                    height: 200px;
                    font-family: inherit;
                    font-size: 16px;
                }
            }
        }
        /*Страница описания товара*/
        .short{
            display: flex;

            .image{
                outline-width: 2px;
                outline-color: #606;
                outline-style: solid;
                margin: 20px 10px;
                &:hover{
                    outline: none;
                }
            }
           
            
            .m_des {
                color: #707070;
                font-size: 14px;
                font-style: italic;
                line-height: 16px;
            }}
        
        .des{
            color: #000;
            font-size: 18px;
            font-weight: 400;
            background-color: #eaeaea;
            margin: 18px 0;
            }

        .max_des {
            color: #484343;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;

            p:first-letter{
                color: #606;
                font-family: serif;
                font-size: 20px;
            }
        }
        .param {
            list-style-image: url(page/mark.png);
            color: #939;
            font-size: 18px;
            padding-left: 40px; 
        }
        table,tr,td{
            flex-grow: 1;
            border-collapse: collapse;
            padding: 15px;
            text-align: center;
            .t_cap{
                font-weight: 700;
                font-size: 20px;
            }
            input{ width: 100px;}
            .row{
                border: 1px solid #939;
            }
            .buy{
                &:hover{
                    cursor: pointer;
                }
                &:active{
                    outline: 2px solid #606;
                }
            }
        }
        table{
            tr:first-of-type{
                font-size: 1.2em;
                font-weight: 600;
                height: 70px;
                background-color: #C9C;
            }
        }
        p{margin: 16px 0;}
    }
    /*Подвал*/
    .footer {
        border-top: 2px solid #939;
        background-color: lightgrey;
        height: 100px;
        flex: 0 0 auto;
            p{
            float: right;
            margin-top: 10px;
            margin-right: 20px;
        }
    }

    /*Left*/
    .left{
        display: block;
    }

}
}

